header {
	display: block;
	margin: 0 auto;
	width: 500px;
	text-align: center;
}

header h1 {
	font-family: "microsoft yahei";
	font-size: 60px;
	font-weight: 600;
}

header #newgamebutton {
	display: block;
	margin: 20px auto;
	width: 100px;
	padding: 10px 10px;
	background-color: #8f76aa;
	color: white;
	border-radius: 10px;
	text-decoration: none;
}
header #newgamebutton:hover {
	background-color: #9f8b77;
}

#grid-contain {
	width: 460px;
	padding: 20px;
	height: 460px;
	margin: 50px auto;
	background-color: #bbada0;
	border-radius: 20px;
	position: relative;
}
.grid-cell {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background-color: #cdbfb6;
	position: absolute;
}
.number-cell {
	border-radius: 10px;
	font-family: arial;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	line-height: 100px;
	position: absolute;
}